@import "styles/ui-variables";

@import "styles/base";
@import "styles/buttons";
@import "styles/editor";
@import "styles/find-and-replace";
@import "styles/git";
@import "styles/key-binding";
@import "styles/lists";
@import "styles/panels";
@import "styles/progress";
@import "styles/sites";
@import "styles/status-bar";
@import "styles/tabs";
@import "styles/text";
@import "styles/tooltips";
@import "styles/tree-view";

/*
    We're using Atom One Dark UI as a base and placing custom CSS below.
    We'll then move styles to respective files as we go.
*/

atom-text-editor {
    background: #269;
}

atom-text-editor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(
            135deg,
            rgba(216,224,222,1) 0%,
            rgba(174,191,188,1) 22%,
            rgba(153,175,171,1) 33%,
            rgba(142,166,162,1) 50%,
            rgba(130,157,152,1) 67%,
            rgba(78,92,90,0.35) 82%,
            rgba(14,14,14,0.5) 100%);
    mix-blend-mode:overlay;
    pointer-events: none;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
}

.gutter .line-number {
    opacity: 1;
    border-top: 1px solid rgba(255,255,255,0.05);
    background-size: 1ch;
    background-image:
        linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
}

atom-text-editor .gutter {
    background-color: transparent;
}

.gutter .line-number.cursor-line {
    color: white;
}

atom-text-editor-minimap {
    mix-blend-mode: screen;
    border: none;
    background-size:
        1ch, 0.075ch;
    background-image:
        linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px),
        linear-gradient(transparent 90%, rgba(255,255,255,0.095));
}

atom-text-editor-minimap .minimap-visible-area::after {
    background: none !important;
    box-shadow:
        inset 0 0 70px rgba(255,255,255,0.25);
}

atom-text-editor {
    filter: contrast(120%);
}

atom-text-editor .syntax--source * {
    filter: contrast(130%);
}

atom-text-editor * {
    text-shadow:
        0px 1px 1px #aaa,
        0px 2px 2px #222,
        0px 8px 12px rgba(0,0,0,0.5);
}

atom-text-editor .selection .region,
atom-text-editor.is-focused .selection .region {
    background: rgba(0,0,0,0.25);
}

atom-text-editor .highlights,
atom-text-editor .highlights.find-result .region {
}

.syntax--comment {
    font-style: italic;
    color: rgba(255,255,255,0.2);
    text-shadow: none;
}

// this is beginning the additional content at the function's end
.syntax--meta.syntax--function.syntax--method.syntax--definition
.syntax--entity.syntax--name.syntax--function.syntax--js::after {
    content: "fn";
    top: 1em;
    left: 1em;
    position: absolute;
    font-size: 2em;
    opacity: 0.15;
    transform: rotate(90deg);
}

atom-text-editor.editor .cursors .cursor {
    border: none;
}

atom-text-editor.editor .cursors .cursor::after {
    content: "▎";
    color: white;
}

atom-text-editor .line.cursor-line {
    box-shadow: inset 0 0 30px rgba(255,255,255,0.15);
}

atom-text-editor .line {
    border-top: 1px solid rgba(255,255,255,0.05);
    border-left: 2px solid rgba(255,255,255,0.05);
    background-size:
        1ch, 17ch;
    background-image:
        linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.085) 1px, transparent 1px);
}

atom-text-editor .line:nth-child(6) {
    border-top: 1px solid rgba(255,255,255,0.15);
}

body.fullscreen .tab-bar { height: 0px; visibility: hidden; }
body.fullscreen .footer { display: none !important; }

atom-text-editor ::-webkit-scrollbar {
    display: none;
}
